{% extends 'base.html' %}
{% block title %} About
{% endblock title %}
{% block aboutActive %}active{% endblock aboutActive %}
{% block body %}
<h1>About</h1>
<div class="container">
<h2>Sign Up:</h2>
<p><b>Username</b> must have under 15 characters alphanumeric Unique name<br>
<b>Email</b> must have in email format<br>
 Both<b> Passwords</b> must match, be alphanumeric and minimum 8 characters<br>
 You have to slove an arithmetic <b>captcha</b> equation</p>
</div>
<div class="container">
<h2>Login:</h2>
<p><b>Username and Password</b> match then you can login in your account<br>
After login you can see <b>logout</b> option</p> 
</div>
<div class="container">
<h2>HomePage</h2>
<p>You can see all <b>public</b> Articles and if you are logged in, you can also see your private Articles</p>
</div>
<div class="container">
<h2>Search</h2>
<p>You can search all <b>public</b> Articles and if you are logged,you can also see your private Articles with the query in <b>title and author</b></p>
</div>
<div class="container">
<h2>Articles</h2>
<p>After <b>login </b>only you can access this<br>
You can see your <b>all post</b> (public and private)<br>
There is an options where you can <b>Create a new Post</b> and Every Post will have a different URL.
</p>
</div>

{% endblock body %}