{% extends 'base.html' %}
{% block title %}Create New Article
{% endblock title %}
{% block body %} 
{% if user.is_authenticated %}
<div class="container">
<form method="POST" action="createNewArticle" enctype="multipart/form-data"">
{% csrf_token %}
  <div class="form-group">
    <label for="title">Title</label>
    <input type="text" class="form-control" id="title" name="title" placeholder="Title of your Article" required>
  </div>
  <div class="form-group">
    <label for="img">Image</label>
    <input type="file" class="form-control-file" id="img" name="img" required>
  </div>
  <div class="form-group">
    <label for="content">Content</label>
    <textarea class="form-control" id="content" name="content" rows="3" required></textarea>
  </div>
  <div class="form-group">
  <select name = "dropdown" id="dropdown">
            <option value = "True" selected>Public</option>
            <option value = "False" >Private</option>
            
         </select>
</div>
  <button type="submit" value="upload" class="btn btn-primary">Submit</button>
</form>
</div>
{% else %}
please login first
{% endif %}
{% endblock body %}